@charset "utf-8";
/* CSS Document */
.div1{
width:100%;
height:800px;
padding-left:25px;
}
.div2{
border:solid 1px; border-radius:15px; box-shadow:0px 10px 10px #999; color:#341ACC;
width:100px;
height:800px;
float:left;
background-color:#00FFFF;

}
.div3{
width:200px;
height:auto;
float:right;

background-color:#CCFFFF;
}
#div3{
width:200px;
height:auto;
float:left;

}
.div4{
border:solid 1px; border-radius:15px; box-shadow:0px 10px 10px #990000; color:#341ACC;
width:800px;
height:400px;
background-color:#FFB871;
border:#0066CC;
}
#div4{
width:820px;
height:800px;
}

.div5{
width:800px;
height:300px;
}
.div6{
width:250px;
height:400px;
background-color:#99CCFF;
float:left;
}
.div7{
width:450px;
height:400px;
background-color:#009933;
float:left;
}



